@use "global" as *;

.common_btn {
  position: relative;
  font-size: rem(16);
  color: $black;
  display: inline-block;
  width: rem(171);
  line-height: 1;
  letter-spacing: 0.005em;
  z-index: 1;
  transition: opacity 0.3s;
}

.common_btn:hover {
  opacity: 0.7;
}

/* 矢印アイコン */
.common_btn::before {
  content: "";
  position: absolute;
  border-bottom: rem(1) solid $black; /* 横線 */
  border-right: rem(1) solid $black; /* 縦線 */
  top:rem(10);
  right: rem(0);
  width: rem(60);
}

/* 右矢印アイコン（反転） */
.common_btn::after {
  content: "";
  position: absolute;
  border-bottom: rem(1) solid $black;
  border-right: rem(1) solid $black;
  right: rem(0);
  top: rem(6);
  transform: rotate(-135deg);
  width: 0.6rem;
}