@use "global" as *;

.section_title {
    position: relative;
    font-size: rem(28);
    color: $black;
    font-weight: $Medium;
    line-height: 1;
    width: rem(177);
    text-align: center;
    padding: rem(20) rem(30);
}

.section_title::before,
.section_title::after {
    position: absolute;
    width: rem(20);
    height: rem(40);
    content: '';
}

.section_title::before {
    border-left: solid rem(1) #D6CBB6;
    border-top: solid rem(1) #D6CBB6;
    top: 0;
    left: 0;
}

.section_title::after {
    border-right: solid rem(1) #D6CBB6;
    border-bottom: solid rem(1) #D6CBB6;
    bottom: 0;
    right: 0;
}